<p style="color: green"><%= notice %></p>

<div>
  <% if @recipes.length !=0 %>
    <h1>My recepies</h1>
    <%= link_to "Add new recipe", new_recipe_path %>

    <% @recipes.each do |recipe| %>
      <div>
        <div>
          <h4><%= recipe.name %></h4>
          <p><%= recipe.description %></p>
          <%= link_to "Recipe Details", recipe_path(recipe.id) %>
        </div>
        <div>
          <% if can? :destroy, recipe %>
            <%= button_to "Remove", recipe_path(recipe.id), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    <h1>No recipes available</h1>
    <%= link_to "Add new recipe", new_recipe_path %>
  <% end %>
</div>
